<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.zst.week9.service.provider.module.frozenbalance.dao.FrozenBalanceDao">
    <insert id="save" parameterType="com.zst.week9.service.provider.module.frozenbalance.entity.FrozenBalance">
        INSERT INTO
            t_frozen_balance
        VALUES
            (#{id}, #{userId}, #{accountId}, #{amount}, #{currencyUnitType}, #{status}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="com.zst.week9.service.provider.module.frozenbalance.entity.FrozenBalance">
        UPDATE
            t_frozen_balance
        SET
            user_id = #{userId},
            account_id = #{accountId},
            amount = #{amount},
            currency_unit_type = #{currencyUnitType},
            status = #{status},
            update_time = #{updateTime}
        WHERE
            id = #{id}
    </update>

    <select id="get" resultType="com.zst.week9.service.provider.module.frozenbalance.entity.FrozenBalance">
        SELECT
            *
        FROM
            t_frozen_balance
        WHERE
            id = #{id}
    </select>
</mapper>